<div class='design_changer_container clearfix'>
  <div class="design-header"><h3>Pick a design and preview</h3></div>
  <div class='selection_strip clearfix'>
  <?foreach($fields as $n=>$f):?>
  <?$nm = Inflections::to_url($n)?>
  <?if($f->widget != "HiddenInput"):?><div class='field field-<?=$nm?> field-<?=$tabhash?>-<?=$nm?> field-<?=$f->widget?> <?=$model_class?>-<?=$nm?> clearfix'><?endif?>
  <?=$f->render()?>
  <?if($f->widget != "HiddenInput"):?></div><?endif?>
  <?endforeach?>
  </div>
  <div class='design_preview'>
    <iframe src="<?if($model && $model->permalink):?><?=$model->permalink?>?preview=<?=$model->primval?><?endif?>" width="100%"></iframe>
  </div>
</div>