<div id="wildfire-image-dialog" class='clearfix'>

<?=partial("_media",array("inline"=>true))?>

  <div class="image-info-container">
    <div class="image_preview">
      
    </div>

    <div class='image-info'>
      <label for='wf_img_size'>Size</label>
      <input type='text' name='wf_img_size' value='120' id='wf_img_size'>

      <label for='wf_img_pos'>Align</label>
      <select name='wf_img_pos' id='wf_img_pos'>
        <option value='inline_image align_left'>Left</option>
        <option value='inline_image align_right'>Right</option>
        <option value='inline_image align_center'>Center</option>
      </select>

      <label for='wf_img_cap'>Description</label>
      <input type='text' name='wf_img_cap' value='' id='wf_img_cap'>
    </div>
  </div>

</div>

