<?if($tree_model instanceof WaxTreeModel):?>
  <?
    $permissions = $current_user->permissions($operation_actions, $module_name);
    $tree_class = get_class($tree_model);
    $ancestry = new $tree_class(Request::param("treeid"));
    foreach($ancestry->path_to_root as $ancestor) $ancestor_ids[] = $ancestor->id;
  ?>

  <div class='index_container tree_list'>
    <?=partial("_tree_nodes", array("tree_model"=>$tree_model, "permissions"=>$permissions, "controller"=>$controller, "action"=>$action, "row"=>$node, "cachelink"=>$cachelink, "show_headers"=>true, "ancestor_ids"=>$ancestor_ids))?>
  </div>
<?endif?>
