<?
  $tree_class = get_class($tree_model);
  if(!$ignore_cols) $ignore_cols = array();
  if(!$permissions) $permissions = $current_user->permissions($operation_actions, $module_name);
  $tree_model = $tree_model->scope($tree_scope);
  if($model_filters['parent']) $nodes = $tree_model->all();
  else if($load_whole_tree) $nodes = $tree_model->tree();
  else if($scoped) $nodes = $tree_model->scope($scoped)->all();
  else{
    if($pid = $current_user->restricted_tree($tree_class)){
      if(!$pid[1]) $pid[1] = "id";
      $cc = new $tree_class($tree_scope);
      if($pid[0]){
        $ids = explode(",", $pid[0]);
        $nodes = $cc->filter($pid[1], $ids)->all();
      }
      else $nodes = $tree_model->roots();
    }else $nodes = $tree_model->roots();

  }

?>
<ul class='data_tree' <?=$load_whole_tree?'':"data-action='/".trim($controller,"/")."/_tree'"?> >

  <?foreach($nodes as $node):?>
    <?$node_open = in_array($node->id, $ancestor_ids)?>
    <li class="tree_node tree_depth_<?=$node->get_level();?> clearfix<?=$primval == $node->primval?' active':''?><?=$node_open?' open':''?>" data-row-language="<?=$node->language?>" data-row-id="<?=$node->primval?>">
      <?if(!$children_operations || ($children_operations && $node->has_children($tree_scope) )):?>
      <span class="tree_operations">
        <?=partial("_operations", array("permissions"=>$permissions, "controller"=>$controller, "action"=>$action, "row"=>$node, "cachelink"=>$cachelink))?>
      </span>
      <?endif?>
      <?foreach($node->columns as $col_name => $col_data):?>
        <?if($col_data[1]['tree_scaffold']):?>
          <?$value = ((method_exists($node, "humanize"))?$node->humanize($col_name):$node->$col_name());?>
          <span class="tree_col tree_col_<?=$col_name?> <?=Inflections::to_url($value)?>"><?=$value?></span>
        <?endif?>
      <?endforeach?>
      <?if(!$ignore_children && $node->has_children($tree_scope) ):?>
        <a class="view_children_link <?=($load_whole_tree || $node_open)?'open':'ajax_tree_load'?> " href="?treeid=<?=$node->id?>"><b>↳</b></a>
      <?else:?>
        <span class="empty"></span>
      <?endif?>
      <?if($permissions['edit']):?><a href="/<?=trim($controller,"/")?>/edit/<?=$node->primval?>/<?=(($cachelink)?"?rl=".rand():"")?>" class='<?=$col_name?>_link'><?else:?><span class='<?=$col_name?>_link'><?endif?>
      <?=truncate(ucwords(strtolower($node->{$node->identifier})),50)?>

      <?if($permissions['edit']):?></a><?else:?></span><?endif?>
      <?if($node->columns['date_start'] && $node->columns['date_end']):?>
        <?$end = strtotime($node->date_end);
          $start = strtotime($node->date_start);
          $mod = strtotime($node->date_modified);?>
        <em class='date'>
          <?if($node->live()):?>
            Start: <?=date("jS M Y", $start)?>
            <?if($start < $end):?><br>End: <?=date("jS M Y", $end)?><?endif?>
          <?else:?>
            Last saved: <?=date("jS M Y", $mod)?>
            <br>Start: <?=date("jS M Y", $start)?>
          <?endif?>
        </em>
      <?endif?>
    </li>
    <?if($node_open):?>
      <?
        $children_model = new $tree_class;
        $children_model->filter("parent_id", $node->id);
      ?>
      <li class="children-of-<?=$node->id?>">
        <?=partial("_tree_nodes", array("tree_model"=>$children_model, "permissions"=>$permissions, "controller"=>$controller, "action"=>$action, "row"=>$node, "cachelink"=>$cachelink, "show_headers"=>true, "ancestor_ids"=>$ancestor_ids, "model_filters"=>array("parent"=>$node->id)))?>
      </li>
    <?endif?>
  <?endforeach?>
</ul>
